.prev-audio {
  display: none;
}
.next-audio {
  display: none;
}
.react-jinke-music-player-mobile-singer {
  display: none;
}
.react-jinke-music-player-mobile-operation {
  display: none;
}

spna.group.prev-audio svg {
  display: none;
}
